cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.2.1
numpy==1.18.4
Pillow==6.2.1
prompt-toolkit==1.0.14
Pygments==2.5.2
PyInquirer==1.0.3
pyparsing==2.4.5
python-dateutil==2.8.1
regex==2019.12.9
six==1.13.0
wcwidth==0.1.7
